:root {
  --ff-kr: "Noto Sans KR", sans-serif;
  --ff-en: "IBM plex Mono", monospace;
  /* color-scheme: dark; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}


/* .App {
  font-size:30px;
}

.kr {
  font-family: var(--ff-kr);
}

.en {
  font-family: var(--ff-en);
} */